@font-face {
	font-family: HentaiKana ;
	src: url('../fonts/UniHentaiKana-Regular.woff') format('woff') ;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	font-family: sans-serif, HentaiKana;
}

#buttons button {
	cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 11px;
    background-color: #eee;
    color: #666;
}

#buttons button:hover {
	border:  1px solid #bbb;
    background-color: #ddd;
    color: black;
}

#checkbox {
    z-index: 1;
    margin-top: 1em;
    color: #666;
    font-size: .8em;
}


#checkbox label {
    vertical-align: top;
}

#checkbox label, #checkbox input {
    cursor:  pointer;
}

.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.hidden {
    opacity: 0 !important;
    transform: translateY(-30px) !important;
}

#time {
    display:  none;
    font-size: 8em;
    font-family: sans-serif;
	opacity: 0;
	position:  relative;
	cursor: default;
    user-select: none;
}

#time.wrong {
	color:  #ce2323;
}

#createdby {
    color: #ccc;
    font-size: .7em;
    position: absolute;
    bottom: 15px;
}

#createdby a {
	color: #aaa;
}

#createdby a:hover {
    color: black;
}